In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import numpy as np

warnings.filterwarnings('ignore')
plt.rc('font',family='Batang')
plt.rcParams["figure.figsize"] = (10,10)

 ## 온라인 구매 데이터

**불러오기**

In [2]:
buy2018_1 = pd.read_csv("../활용 데이터셋/buy2018_1.csv", parse_dates=['buy2018_1.date'])
buy2018_2 = pd.read_csv("../활용 데이터셋/buy2018_2.csv", parse_dates=['buy2018_2.date'])
buy2019_1 = pd.read_csv("../활용 데이터셋/buy2019_1.csv", parse_dates=['buy2019_1.date'])
buy2019_2 = pd.read_csv("../활용 데이터셋/buy2019_2.csv", parse_dates=['buy2019_2.date'])

In [3]:
buy2018_1 = buy2018_1.drop(['Unnamed: 0'], axis=1)
buy2018_2 = buy2018_2.drop(['Unnamed: 0'], axis=1)
buy2019_1 = buy2019_1.drop(['Unnamed: 0'], axis=1)
buy2019_2 = buy2019_2.drop(['Unnamed: 0'], axis=1)

In [4]:
buy2018_1 = buy2018_1.rename(columns = {'buy2018_1.date':'date', 'buy2018_1.sex':'sex', 'buy2018_1.age':'age', 'buy2018_1.big_cat':'big_cat', 
                                        'buy2018_1.sm_cat':'sm_cat', 'buy2018_1.qty':'qty'})
buy2018_2 = buy2018_2.rename(columns = {'buy2018_2.date':'date', 'buy2018_2.sex':'sex', 'buy2018_2.age':'age', 'buy2018_2.big_cat':'big_cat', 
                                        'buy2018_2.sm_cat':'sm_cat', 'buy2018_2.qty':'qty'})
buy2019_1 = buy2019_1.rename(columns = {'buy2019_1.date':'date', 'buy2019_1.sex':'sex', 'buy2019_1.age':'age', 'buy2019_1.big_cat':'big_cat', 
                                        'buy2019_1.sm_cat':'sm_cat', 'buy2019_1.qty':'qty'})
buy2019_2 = buy2019_2.rename(columns = {'buy2019_2.date':'date', 'buy2019_2.sex':'sex', 'buy2019_2.age':'age', 'buy2019_2.big_cat':'big_cat', 
                                        'buy2019_2.sm_cat':'sm_cat', 'buy2019_2.qty':'qty'})

In [5]:
buy2018 = pd.concat([buy2018_1,buy2018_2],ignore_index=True)
buy2019 = pd.concat([buy2019_1,buy2019_2],ignore_index=True)

In [6]:
buy = pd.concat([buy2018, buy2019], ignore_index = True)

In [7]:
buy_ha = buy[buy['big_cat'] == '냉난방가전']

In [8]:
buy_ha.drop(['big_cat'], axis=1, inplace = True)

In [9]:
buy_ha

              date sex  age   sm_cat  qty
7       2018-01-01   F   20  가열식 가습기    1
8       2018-01-01   F   40  가열식 가습기    3
9       2018-01-01   M   20  가열식 가습기    1
10      2018-01-01   M   40  가열식 가습기    2
291     2018-01-01   F   20  공기정화 용품   10
...            ...  ..  ...      ...  ...
2056894 2019-12-31   M   20       히터    8
2056895 2019-12-31   M   30       히터   22
2056896 2019-12-31   M   40       히터   38
2056897 2019-12-31   M   50       히터   23
2056898 2019-12-31   M   60       히터   10

[129227 rows x 5 columns]

In [10]:
buy_ha= pd.DataFrame(buy_ha.groupby(['sm_cat','date'])[('qty')].sum())
buy_ha= buy_ha.reset_index()
buy_ha=buy_ha.rename(columns={'date':'일시'})

In [11]:
buy_ha

      sm_cat         일시  qty
0      가스온수기 2018-01-13    1
1      가스온수기 2018-01-17    1
2      가스온수기 2018-01-19    1
3      가스온수기 2018-01-29    2
4      가스온수기 2018-02-02    1
...      ...        ...  ...
23427     히터 2019-12-27  233
23428     히터 2019-12-28   79
23429     히터 2019-12-29  122
23430     히터 2019-12-30  183
23431     히터 2019-12-31  203

[23432 rows x 3 columns]

## 날씨 데이터

## 평균기온/최저기온/최고기온/일강수량/평균 풍속

**불러오기**

In [12]:
weather2018 = pd.read_csv("../활용 데이터셋/OBS_AWS_DD_2018.csv", encoding ='cp949', parse_dates=["일시"])
weather2019 = pd.read_csv("../활용 데이터셋/OBS_AWS_DD_2019.csv", encoding ='cp949', parse_dates=["일시"])

In [13]:
weather2018 = weather2018.groupby(['일시'])[('평균기온(°C)','최저기온(°C)','최고기온(°C)','일강수량(mm)','평균 풍속(m/s)')].mean()
weather2019 = weather2019.groupby(['일시'])[('평균기온(°C)','최저기온(°C)','최고기온(°C)','일강수량(mm)','평균 풍속(m/s)')].mean()

In [14]:
weather2018 = pd.DataFrame(weather2018)
weather2018 = weather2018.reset_index()

In [15]:
weather2019 = pd.DataFrame(weather2019)
weather2019 = weather2019.reset_index()

In [16]:
weather_201819 = pd.concat([weather2018, weather2019], ignore_index = True)

In [17]:
weather_201819

            일시  평균기온(°C)  최저기온(°C)  최고기온(°C)  일강수량(mm)  평균 풍속(m/s)
0   2018-01-01 -1.076923 -5.607495  4.460158  0.000000    1.963834
1   2018-01-02 -0.494862 -5.861067  4.953755  0.000988    1.997822
2   2018-01-03 -2.437154 -6.161660  2.143676  0.005929    2.577866
3   2018-01-04 -2.477909 -6.495661  1.413807  0.121542    1.745257
4   2018-01-05 -0.992110 -4.478063  3.713241  0.212846    2.107312
..         ...       ...       ...       ...       ...         ...
725 2019-12-27 -0.089084 -3.803899  4.322612  0.032296    2.639804
726 2019-12-28  0.474903 -4.850980  6.946667  0.005837    1.370611
727 2019-12-29  3.173879 -1.854813  7.169941  7.304483    1.677800
728 2019-12-30  4.653137 -0.840119  9.321739  0.664717    2.558777
729 2019-12-31 -4.385098 -7.329842 -0.116403  0.045809    3.792292

[730 rows x 6 columns]

In [18]:
weather_201819.to_csv("../활용 데이터셋/weather_201819.csv",encoding ='cp949',header=True, index=False)

In [19]:
weather_201819 = pd.read_csv("../활용 데이터셋/weather_201819.csv", encoding ='cp949', parse_dates=["일시"])

In [20]:
weather_201819

            일시  평균기온(°C)  최저기온(°C)  최고기온(°C)  일강수량(mm)  평균 풍속(m/s)
0   2018-01-01 -1.076923 -5.607495  4.460158  0.000000    1.963834
1   2018-01-02 -0.494862 -5.861067  4.953755  0.000988    1.997822
2   2018-01-03 -2.437154 -6.161660  2.143676  0.005929    2.577866
3   2018-01-04 -2.477909 -6.495661  1.413807  0.121542    1.745257
4   2018-01-05 -0.992110 -4.478063  3.713241  0.212846    2.107312
..         ...       ...       ...       ...       ...         ...
725 2019-12-27 -0.089084 -3.803899  4.322612  0.032296    2.639804
726 2019-12-28  0.474903 -4.850980  6.946667  0.005837    1.370611
727 2019-12-29  3.173879 -1.854813  7.169941  7.304483    1.677800
728 2019-12-30  4.653137 -0.840119  9.321739  0.664717    2.558777
729 2019-12-31 -4.385098 -7.329842 -0.116403  0.045809    3.792292

[730 rows x 6 columns]

## 미세먼지

In [21]:
dust = pd.read_csv("../활용 데이터셋/OBS_부유분진_DD_201819.csv", encoding ='cp949', parse_dates=["일시"])

In [22]:
dust

        지점  지점명         일시  일 미세먼지 농도(㎍/㎥)
0       90   속초 2018-01-01              18
1       90   속초 2018-01-02              23
2       90   속초 2018-01-03              19
3       90   속초 2018-01-04              24
4       90   속초 2018-01-05              20
...    ...  ...        ...             ...
19005  501  연평도 2019-12-27              23
19006  501  연평도 2019-12-28              29
19007  501  연평도 2019-12-29              38
19008  501  연평도 2019-12-30              30
19009  501  연평도 2019-12-31              18

[19010 rows x 4 columns]

In [23]:
dust=pd.DataFrame(dust.groupby(['일시'])['일 미세먼지 농도(㎍/㎥)'].mean())

In [24]:
dust=dust.reset_index()                  #2일 NULL 값
dust

            일시  일 미세먼지 농도(㎍/㎥)
0   2018-01-01       32.962963
1   2018-01-02       40.037037
2   2018-01-03       23.185185
3   2018-01-04       26.423077
4   2018-01-05       29.642857
..         ...             ...
723 2019-12-27       22.655172
724 2019-12-28       32.862069
725 2019-12-29       34.172414
726 2019-12-30       24.296296
727 2019-12-31       19.758621

[728 rows x 2 columns]

In [25]:
dust.to_csv("../활용 데이터셋/dust_201819.csv",encoding ='cp949',header=True, index=False)

In [26]:
dust_201819 = pd.read_csv("../활용 데이터셋/dust_201819.csv", encoding ='cp949', parse_dates=["일시"])

In [27]:
dust_201819

            일시  일 미세먼지 농도(㎍/㎥)
0   2018-01-01       32.962963
1   2018-01-02       40.037037
2   2018-01-03       23.185185
3   2018-01-04       26.423077
4   2018-01-05       29.642857
..         ...             ...
723 2019-12-27       22.655172
724 2019-12-28       32.862069
725 2019-12-29       34.172414
726 2019-12-30       24.296296
727 2019-12-31       19.758621

[728 rows x 2 columns]

## 상대습도

In [28]:
humidity = pd.read_csv("../활용 데이터셋/OBS_ASOS_DD_201819.csv", encoding ='cp949', parse_dates=["일시"])

In [29]:
humidity = pd.DataFrame(humidity.groupby(['일시'])[('평균 상대습도(%)')].mean())

In [30]:
humidity = humidity.reset_index()
humidity

            일시  평균 상대습도(%)
0   2018-01-01   51.204211
1   2018-01-02   57.358511
2   2018-01-03   47.917021
3   2018-01-04   53.737895
4   2018-01-05   56.424211
..         ...         ...
725 2019-12-27   54.984211
726 2019-12-28   62.104211
727 2019-12-29   75.749474
728 2019-12-30   80.403158
729 2019-12-31   47.684211

[730 rows x 2 columns]

In [31]:
humidity.to_csv("../활용 데이터셋/humidity_201819.csv",encoding ='cp949',header=True, index=False)

In [32]:
humidity_201819 = pd.read_csv("../활용 데이터셋/humidity_201819.csv", encoding ='cp949', parse_dates=["일시"])

In [33]:
humidity_201819

            일시  평균 상대습도(%)
0   2018-01-01   51.204211
1   2018-01-02   57.358511
2   2018-01-03   47.917021
3   2018-01-04   53.737895
4   2018-01-05   56.424211
..         ...         ...
725 2019-12-27   54.984211
726 2019-12-28   62.104211
727 2019-12-29   75.749474
728 2019-12-30   80.403158
729 2019-12-31   47.684211

[730 rows x 2 columns]

## 종합(불쾌지수/열지수/체감온도)

In [34]:
weather_total = pd.merge(weather_201819, humidity_201819 , how='outer', on='일시')

In [35]:
weather_total = pd.merge(weather_total,dust_201819,how='outer', left_on='일시', right_on='일시')

In [36]:
weather_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   일시              730 non-null    datetime64[ns]
 1   평균기온(°C)        730 non-null    float64
 2   최저기온(°C)        730 non-null    float64
 3   최고기온(°C)        730 non-null    float64
 4   일강수량(mm)        730 non-null    float64
 5   평균 풍속(m/s)      730 non-null    float64
 6   평균 상대습도(%)      730 non-null    float64
 7   일 미세먼지 농도(㎍/㎥)  728 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 51.3 KB

In [37]:
weather_total = weather_total.fillna(weather_total['일 미세먼지 농도(㎍/㎥)'].mean())

In [38]:
weather_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   일시              730 non-null    datetime64[ns]
 1   평균기온(°C)        730 non-null    float64
 2   최저기온(°C)        730 non-null    float64
 3   최고기온(°C)        730 non-null    float64
 4   일강수량(mm)        730 non-null    float64
 5   평균 풍속(m/s)      730 non-null    float64
 6   평균 상대습도(%)      730 non-null    float64
 7   일 미세먼지 농도(㎍/㎥)  730 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 51.3 KB

### 불쾌지수

In [39]:
weather_total['불쾌지수'] = 1.8 * weather_total['평균기온(°C)'] - 0.55 * (1 - weather_total['평균 상대습도(%)']/100) * (1.8 * weather_total['평균기온(°C)'] - 26) + 32

In [40]:
weather_total

,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),일 미세먼지 농도(㎍/㎥),불쾌지수
0,2018-01-01,-1.076923,-5.607495,4.460158,0.000000,1.963834,51.204211,32.962963,37.559575
1,2018-01-02,-0.494862,-5.861067,4.953755,0.000988,1.997822,57.358511,40.037037,37.415888
2,2018-01-03,-2.437154,-6.161660,2.143676,0.005929,2.577866,47.917021,23.185185,36.317638
3,2018-01-04,-2.477909,-6.495661,1.413807,0.121542,1.745257,53.737895,26.423077,35.290114
4,2018-01-05,-0.992110,-4.478063,3.713241,0.212846,2.107312,56.424211,29.642857,36.873536
...,...,...,...,...,...,...,...,...,...
725,2019-12-27,-0.089084,-3.803899,4.322612,0.032296,2.639804,54.984211,22.655172,38.316608
726,2019-12-28,0.474903,-4.850980,6.946667,0.005837,1.370611,62.104211,32.862069,38.095754
727,2019-12-29,3.173879,-1.854813,7.169941,7.304483,1.677800,75.749474,34.172414,40.418822
728,2019-12-30,4.653137,-0.840119,9.321739,0.664717,2.558777,80.403158,24.296296,42.275246
729,2019-12-31,-4.385098,-7.329842,-0.116403,0.045809,3.792292,47.684211,19.758621,33.859139

### 열지수

In [41]:
weather_total['열지수']=0.5 * (1.8*weather_total['평균기온(°C)'] +32 + 61.0 + ((1.8*weather_total['평균기온(°C)']+32-68.0) * 1.2) + (weather_total['평균 상대습도(%)']/100*0.094))

In [42]:
weather_total

,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),일 미세먼지 농도(㎍/㎥),불쾌지수,열지수
0,2018-01-01,-1.076923,-5.607495,4.460158,0.000000,1.963834,51.204211,32.962963,37.559575,22.791758
1,2018-01-02,-0.494862,-5.861067,4.953755,0.000988,1.997822,57.358511,40.037037,37.415888,23.947132
2,2018-01-03,-2.437154,-6.161660,2.143676,0.005929,2.577866,47.917021,23.185185,36.317638,20.096956
3,2018-01-04,-2.477909,-6.495661,1.413807,0.121542,1.745257,53.737895,26.423077,35.290114,20.018996
4,2018-01-05,-0.992110,-4.478063,3.713241,0.212846,2.107312,56.424211,29.642857,36.873536,22.962141
...,...,...,...,...,...,...,...,...,...,...
725,2019-12-27,-0.089084,-3.803899,4.322612,0.032296,2.639804,54.984211,22.655172,38.316608,24.749457
726,2019-12-28,0.474903,-4.850980,6.946667,0.005837,1.370611,62.104211,32.862069,38.095754,25.869496
727,2019-12-29,3.173879,-1.854813,7.169941,7.304483,1.677800,75.749474,34.172414,40.418822,31.219883
728,2019-12-30,4.653137,-0.840119,9.321739,0.664717,2.558777,80.403158,24.296296,42.275246,34.151001
729,2019-12-31,-4.385098,-7.329842,-0.116403,0.045809,3.792292,47.684211,19.758621,33.859139,16.239917

### 체감온도

In [43]:
weather_total['체감온도']=13.12+(0.6215*weather_total['평균기온(°C)'])-(11.37*(weather_total['평균 풍속(m/s)']**(0.16))) + 0.3965*weather_total['평균기온(°C)'] * (weather_total['평균 풍속(m/s)']**0.16)

In [44]:
weather_total

,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),일 미세먼지 농도(㎍/㎥),불쾌지수,열지수,체감온도
0,2018-01-01,-1.076923,-5.607495,4.460158,0.000000,1.963834,51.204211,32.962963,37.559575,22.791758,-0.691516
1,2018-01-02,-0.494862,-5.861067,4.953755,0.000988,1.997822,57.358511,40.037037,37.415888,23.947132,-0.108084
2,2018-01-03,-2.437154,-6.161660,2.143676,0.005929,2.577866,47.917021,23.185185,36.317638,20.096956,-2.749178
3,2018-01-04,-2.477909,-6.495661,1.413807,0.121542,1.745257,53.737895,26.423077,35.290114,20.018996,-1.923698
4,2018-01-05,-0.992110,-4.478063,3.713241,0.212846,2.107312,56.424211,29.642857,36.873536,22.962141,-0.750031
...,...,...,...,...,...,...,...,...,...,...,...
725,2019-12-27,-0.089084,-3.803899,4.322612,0.032296,2.639804,54.984211,22.655172,38.316608,24.749457,-0.257046
726,2019-12-28,0.474903,-4.850980,6.946667,0.005837,1.370611,62.104211,32.862069,38.095754,25.869496,1.654966
727,2019-12-29,3.173879,-1.854813,7.169941,7.304483,1.677800,75.749474,34.172414,40.418822,31.219883,4.108163
728,2019-12-30,4.653137,-0.840119,9.321739,0.664717,2.558777,80.403158,24.296296,42.275246,34.151001,4.941824
729,2019-12-31,-4.385098,-7.329842,-0.116403,0.045809,3.792292,47.684211,19.758621,33.859139,16.239917,-5.830298

## 종합

In [45]:
weather_total.to_csv("../활용 데이터셋/weather_total.csv",encoding ='cp949',header=True, index=False)

In [46]:
weather_total = pd.read_csv("../활용 데이터셋/weather_total.csv", encoding ='cp949', parse_dates=["일시"])

In [47]:
weather_total

,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),일 미세먼지 농도(㎍/㎥),불쾌지수,열지수,체감온도
0,2018-01-01,-1.076923,-5.607495,4.460158,0.000000,1.963834,51.204211,32.962963,37.559575,22.791758,-0.691516
1,2018-01-02,-0.494862,-5.861067,4.953755,0.000988,1.997822,57.358511,40.037037,37.415888,23.947132,-0.108084
2,2018-01-03,-2.437154,-6.161660,2.143676,0.005929,2.577866,47.917021,23.185185,36.317638,20.096956,-2.749178
3,2018-01-04,-2.477909,-6.495661,1.413807,0.121542,1.745257,53.737895,26.423077,35.290114,20.018996,-1.923698
4,2018-01-05,-0.992110,-4.478063,3.713241,0.212846,2.107312,56.424211,29.642857,36.873536,22.962141,-0.750031
...,...,...,...,...,...,...,...,...,...,...,...
725,2019-12-27,-0.089084,-3.803899,4.322612,0.032296,2.639804,54.984211,22.655172,38.316608,24.749457,-0.257046
726,2019-12-28,0.474903,-4.850980,6.946667,0.005837,1.370611,62.104211,32.862069,38.095754,25.869496,1.654966
727,2019-12-29,3.173879,-1.854813,7.169941,7.304483,1.677800,75.749474,34.172414,40.418822,31.219883,4.108163
728,2019-12-30,4.653137,-0.840119,9.321739,0.664717,2.558777,80.403158,24.296296,42.275246,34.151001,4.941824
729,2019-12-31,-4.385098,-7.329842,-0.116403,0.045809,3.792292,47.684211,19.758621,33.859139,16.239917,-5.830298

In [48]:
buy_weather_total = pd.merge(buy_ha,weather_total,how='outer', left_on='일시', right_on='일시')

In [49]:
buy_weather_total

,sm_cat,일시,qty,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),일 미세먼지 농도(㎍/㎥),불쾌지수,열지수,체감온도
0,가스온수기,2018-01-13,1,-3.685828,-8.640719,2.032535,0.027833,1.581162,69.144681,31.038462,30.903721,17.634558,-2.978124
1,가열식 가습기,2018-01-13,9,-3.685828,-8.640719,2.032535,0.027833,1.581162,69.144681,31.038462,30.903721,17.634558,-2.978124
2,공기정화 용품,2018-01-13,61,-3.685828,-8.640719,2.032535,0.027833,1.581162,69.144681,31.038462,30.903721,17.634558,-2.978124
3,공기청정기,2018-01-13,32,-3.685828,-8.640719,2.032535,0.027833,1.581162,69.144681,31.038462,30.903721,17.634558,-2.978124
4,난방용 열풍기,2018-01-13,2,-3.685828,-8.640719,2.032535,0.027833,1.581162,69.144681,31.038462,30.903721,17.634558,-2.978124
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23427,컨벡터,2019-09-13,1,21.101183,16.848317,26.746139,0.024606,1.687674,75.687234,14.478261,68.379877,66.715916,22.968683
23428,탁상/USB 선풍기,2019-09-13,3,21.101183,16.848317,26.746139,0.024606,1.687674,75.687234,14.478261,68.379877,66.715916,22.968683
23429,황토매트,2019-09-13,1,21.101183,16.848317,26.746139,0.024606,1.687674,75.687234,14.478261,68.379877,66.715916,22.968683
23430,휴대용 선풍기,2019-09-13,2,21.101183,16.848317,26.746139,0.024606,1.687674,75.687234,14.478261,68.379877,66.715916,22.968683
23431,히터,2019-09-13,6,21.101183,16.848317,26.746139,0.024606,1.687674,75.687234,14.478261,68.379877,66.715916,22.968683

In [50]:
buy_weather_total.to_csv("../활용 데이터셋/buy_weather_total.csv",encoding ='cp949',header=True, index=False)

# 판매데이터 카테고리 분류

### 종합-냉방

In [51]:
buy_weather_total_tpr = buy_weather_total.drop(['일강수량(mm)','평균 풍속(m/s)','평균 상대습도(%)','일 미세먼지 농도(㎍/㎥)'], axis=1)

In [52]:
buy_weather_total_tpr

,sm_cat,일시,qty,평균기온(°C),최저기온(°C),최고기온(°C),불쾌지수,열지수,체감온도
0,가스온수기,2018-01-13,1,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
1,가열식 가습기,2018-01-13,9,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
2,공기정화 용품,2018-01-13,61,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
3,공기청정기,2018-01-13,32,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
4,난방용 열풍기,2018-01-13,2,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
...,...,...,...,...,...,...,...,...,...
23427,컨벡터,2019-09-13,1,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683
23428,탁상/USB 선풍기,2019-09-13,3,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683
23429,황토매트,2019-09-13,1,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683
23430,휴대용 선풍기,2019-09-13,2,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683
23431,히터,2019-09-13,6,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683

In [53]:
buy_weather_total_tpr=buy_weather_total_tpr.set_index('sm_cat')

In [54]:
buy_weather_total_tpr=buy_weather_total_tpr.loc[['멀티형 에어컨', '벽걸이 에어컨', '벽걸이형 선풍기', '스탠드형 에어컨', '에어컨 리모컨', '탁상/USB 선풍기',
       '휴대용 선풍기', '냉풍기', '이동형 에어컨', '중대형 에어컨', '천장형 에어컨', '에어커튼', '업소용 선풍기']]
buy_weather_total_tpr.reset_index(inplace=True)
buy_weather_total_tpr

,sm_cat,일시,qty,평균기온(°C),최저기온(°C),최고기온(°C),불쾌지수,열지수,체감온도
0,멀티형 에어컨,2018-01-13,1,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
1,멀티형 에어컨,2018-01-17,2,3.906139,1.162178,7.499802,40.264687,32.675597,4.970363
2,멀티형 에어컨,2018-01-29,4,-6.496414,-9.936183,-2.337972,31.110377,12.059606,-7.639590
3,멀티형 에어컨,2018-02-02,3,-2.955446,-8.610693,3.691881,35.298583,19.071703,-2.520548
4,멀티형 에어컨,2018-02-06,1,-8.508964,-12.716932,-4.041833,28.178318,8.075477,-9.794257
...,...,...,...,...,...,...,...,...,...
7250,업소용 선풍기,2019-08-22,18,25.098214,22.020990,29.666931,75.455659,74.633795,27.170333
7251,업소용 선풍기,2019-08-23,17,23.778585,19.844794,28.646365,72.516224,72.016976,25.828243
7252,업소용 선풍기,2019-08-24,2,22.137205,18.337992,26.999213,70.193037,68.768458,24.205349
7253,업소용 선풍기,2019-08-27,10,22.601584,20.336310,25.648611,71.911422,69.693647,24.666395
7254,업소용 선풍기,2019-09-07,1,24.907879,21.890381,28.249499,75.028004,74.256405,26.661456

In [55]:
buy_weather_total_tpr.to_csv("../활용 데이터셋/buy_weather_tpr.csv",encoding ='cp949',header=True, index=False)

### 종합-난방

In [56]:
buy_weather_total_tph = buy_weather_total.drop(['일강수량(mm)','평균 풍속(m/s)','평균 상대습도(%)','일 미세먼지 농도(㎍/㎥)'], axis=1)

In [57]:
buy_weather_total_tph

,sm_cat,일시,qty,평균기온(°C),최저기온(°C),최고기온(°C),불쾌지수,열지수,체감온도
0,가스온수기,2018-01-13,1,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
1,가열식 가습기,2018-01-13,9,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
2,공기정화 용품,2018-01-13,61,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
3,공기청정기,2018-01-13,32,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
4,난방용 열풍기,2018-01-13,2,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
...,...,...,...,...,...,...,...,...,...
23427,컨벡터,2019-09-13,1,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683
23428,탁상/USB 선풍기,2019-09-13,3,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683
23429,황토매트,2019-09-13,1,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683
23430,휴대용 선풍기,2019-09-13,2,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683
23431,히터,2019-09-13,6,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683

In [58]:
buy_weather_total_tph=buy_weather_total_tph.set_index('sm_cat')

In [59]:
buy_weather_total_tph=buy_weather_total_tph.loc[['가스온수기', '난방용 열풍기', '돈풍기', '라디에이터', '보일러', '온수매트', '온열매트',
       '온풍기', '전기온수기', '전기장판', '카페트매트', '컨벡터', '황토매트', '히터']]
buy_weather_total_tph.reset_index(inplace=True)
buy_weather_total_tph

,sm_cat,일시,qty,평균기온(°C),최저기온(°C),최고기온(°C),불쾌지수,열지수,체감온도
0,가스온수기,2018-01-13,1,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
1,가스온수기,2018-01-17,1,3.906139,1.162178,7.499802,40.264687,32.675597,4.970363
2,가스온수기,2018-01-19,1,0.716963,-3.344379,6.536884,39.199984,26.346149,1.513794
3,가스온수기,2018-01-29,2,-6.496414,-9.936183,-2.337972,31.110377,12.059606,-7.639590
4,가스온수기,2018-02-02,1,-2.955446,-8.610693,3.691881,35.298583,19.071703,-2.520548
...,...,...,...,...,...,...,...,...,...
8069,히터,2019-08-23,10,23.778585,19.844794,28.646365,72.516224,72.016976,25.828243
8070,히터,2019-08-24,14,22.137205,18.337992,26.999213,70.193037,68.768458,24.205349
8071,히터,2019-08-27,11,22.601584,20.336310,25.648611,71.911422,69.693647,24.666395
8072,히터,2019-09-07,6,24.907879,21.890381,28.249499,75.028004,74.256405,26.661456
8073,히터,2019-09-13,6,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683

In [60]:
buy_weather_total_tph.to_csv("../활용 데이터셋/buy_weather_tph.csv",encoding ='cp949',header=True, index=False)

### 종합-습도

In [61]:
buy_weather_total_hm = buy_weather_total.drop(['일강수량(mm)','평균 풍속(m/s)','평균 상대습도(%)','일 미세먼지 농도(㎍/㎥)'], axis=1)

In [62]:
buy_weather_total_hm=buy_weather_total_hm.set_index('sm_cat')

In [63]:
buy_weather_total_hm=buy_weather_total_hm.loc[['제습기','초음파식 가습기','자연식 가습기','복합식 가습기','신발건조기','의류건조기','가열식 가습기','에어워셔']]
buy_weather_total_hm.reset_index(inplace=True)
buy_weather_total_hm

,sm_cat,일시,qty,평균기온(°C),최저기온(°C),최고기온(°C),불쾌지수,열지수,체감온도
0,제습기,2018-01-13,9,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
1,제습기,2018-01-17,21,3.906139,1.162178,7.499802,40.264687,32.675597,4.970363
2,제습기,2018-01-19,24,0.716963,-3.344379,6.536884,39.199984,26.346149,1.513794
3,제습기,2018-01-29,35,-6.496414,-9.936183,-2.337972,31.110377,12.059606,-7.639590
4,제습기,2018-02-02,8,-2.955446,-8.610693,3.691881,35.298583,19.071703,-2.520548
...,...,...,...,...,...,...,...,...,...
5340,에어워셔,2019-08-23,2,23.778585,19.844794,28.646365,72.516224,72.016976,25.828243
5341,에어워셔,2019-08-24,4,22.137205,18.337992,26.999213,70.193037,68.768458,24.205349
5342,에어워셔,2019-08-27,4,22.601584,20.336310,25.648611,71.911422,69.693647,24.666395
5343,에어워셔,2019-09-07,1,24.907879,21.890381,28.249499,75.028004,74.256405,26.661456
5344,에어워셔,2019-09-13,1,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683

In [64]:
buy_weather_total_hm.to_csv("../활용 데이터셋/buy_weather_hm.csv",encoding ='cp949',header=True, index=False)

### 종합- 공기

In [65]:
buy_weather_total_ar = buy_weather_total[['sm_cat','일시','qty','일 미세먼지 농도(㎍/㎥)']]

In [66]:
buy_weather_total_ar=buy_weather_total_ar.set_index('sm_cat')

In [67]:
buy_weather_total_ar=buy_weather_total_ar.loc[['공기청정기','공기정화 용품','산림욕기']]
buy_weather_total_ar.reset_index(inplace=True)
buy_weather_total_ar

     sm_cat         일시  qty  일 미세먼지 농도(㎍/㎥)
0     공기청정기 2018-01-13   32       31.038462
1     공기청정기 2018-01-17  568       37.296296
2     공기청정기 2018-01-19  233       46.653846
3     공기청정기 2018-01-29  245       33.703704
4     공기청정기 2018-02-02  118       31.392857
...     ...        ...  ...             ...
1549   산림욕기 2019-06-26    1       24.291667
1550   산림욕기 2019-07-09    3       14.652174
1551   산림욕기 2019-07-11    1       10.235294
1552   산림욕기 2019-07-22    1       27.535714
1553   산림욕기 2019-08-05    1       33.333333

[1554 rows x 4 columns]

In [68]:
buy_weather_total_ar.to_csv("../활용 데이터셋/buy_weather_ar.csv",encoding ='cp949',header=True, index=False)

### 냉난방

In [69]:
buy_weather_total_tp = buy_weather_total.drop(['일강수량(mm)','평균 풍속(m/s)','평균 상대습도(%)','일 미세먼지 농도(㎍/㎥)'], axis=1)

In [70]:
buy_weather_total_tp[buy_weather_total_tp['sm_cat'] == '스탠드형 냉온풍기']

,sm_cat,일시,qty,평균기온(°C),최저기온(°C),최고기온(°C),불쾌지수,열지수,체감온도
12,스탠드형 냉온풍기,2018-01-13,3,-3.685828,-8.640719,2.032535,30.903721,17.634558,-2.978124
46,스탠드형 냉온풍기,2018-01-17,3,3.906139,1.162178,7.499802,40.264687,32.675597,4.970363
78,스탠드형 냉온풍기,2018-01-19,3,0.716963,-3.344379,6.536884,39.199984,26.346149,1.513794
114,스탠드형 냉온풍기,2018-01-29,16,-6.496414,-9.936183,-2.337972,31.110377,12.059606,-7.639590
146,스탠드형 냉온풍기,2018-02-02,4,-2.955446,-8.610693,3.691881,35.298583,19.071703,-2.520548
...,...,...,...,...,...,...,...,...,...
23296,스탠드형 냉온풍기,2019-08-23,9,23.778585,19.844794,28.646365,72.516224,72.016976,25.828243
23325,스탠드형 냉온풍기,2019-08-24,11,22.137205,18.337992,26.999213,70.193037,68.768458,24.205349
23356,스탠드형 냉온풍기,2019-08-27,16,22.601584,20.336310,25.648611,71.911422,69.693647,24.666395
23384,스탠드형 냉온풍기,2019-09-07,7,24.907879,21.890381,28.249499,75.028004,74.256405,26.661456
23412,스탠드형 냉온풍기,2019-09-13,2,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683

In [71]:
buy_weather_total_tp=buy_weather_total_tp.set_index('sm_cat')

In [72]:
buy_weather_total_tp=buy_weather_total_tp.loc[['벽걸이형 냉온풍기','스탠드형 냉온풍기']]
buy_weather_total_tp.reset_index(inplace=True)
buy_weather_total_tp

,sm_cat,일시,qty,평균기온(°C),최저기온(°C),최고기온(°C),불쾌지수,열지수,체감온도
0,벽걸이형 냉온풍기,2018-01-29,2,-6.496414,-9.936183,-2.337972,31.110377,12.059606,-7.639590
1,벽걸이형 냉온풍기,2018-03-07,2,4.769000,0.933200,8.830600,43.206644,34.376752,5.188178
2,벽걸이형 냉온풍기,2018-03-13,1,11.290514,2.889307,18.440198,53.437619,47.285438,12.057262
3,벽걸이형 냉온풍기,2018-03-27,2,12.200593,4.460672,19.939328,54.818346,49.086036,13.357434
4,벽걸이형 냉온풍기,2018-04-19,1,13.542490,4.642262,21.921230,56.837360,51.736872,14.829190
...,...,...,...,...,...,...,...,...,...
1199,스탠드형 냉온풍기,2019-08-23,9,23.778585,19.844794,28.646365,72.516224,72.016976,25.828243
1200,스탠드형 냉온풍기,2019-08-24,11,22.137205,18.337992,26.999213,70.193037,68.768458,24.205349
1201,스탠드형 냉온풍기,2019-08-27,16,22.601584,20.336310,25.648611,71.911422,69.693647,24.666395
1202,스탠드형 냉온풍기,2019-09-07,7,24.907879,21.890381,28.249499,75.028004,74.256405,26.661456
1203,스탠드형 냉온풍기,2019-09-13,2,21.101183,16.848317,26.746139,68.379877,66.715916,22.968683

In [73]:
buy_weather_total_tp.to_csv("../활용 데이터셋/buy_weather_tp.csv",encoding ='cp949',header=True, index=False)